<nav>
  <div class="site-title">
    <a href="/api/v1/products"><h1>Alex Store</h1></a>
    <p>For Merchants and Customers</p>
    <p><em>sell and buy any products</em> </p>
  </div>
  <ul>
    <li><a href="/api/v1/products">Home</a></li>
    <li><a href="/api/v1/products/add-product">Add Product</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/contact-us">Contact Us</a></li>
  </ul>
</nav>