<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="create-blog content">
    <form action="/api/v1/products" method="POST">
      <label for="title">Product Name:</label>
      <input type="text" id="title" name="name" required>
      <label for="snippet">Description:</label>
      <input type="text" id="snippet" name="description" required>
      <label for="body">Price:</label>
      <input type="number" name="price" id="snippet">
      <label for="body">VAT:</label>
      <input type="number" name="vat" id=""> %
      <label for="body">Shipping Cost :</label>
      <input type="number" name="shipping" id="snippet">
      <label for="body">Brand:</label>
      <input type="text" id="snippet" name="brand" required>
      <button>Submit</button>
    </form>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>